*{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    background-color:antiquewhite ;
    padding : 34px;
    margin: 23px;
}

.container h3,p{
    text-align: center;
}

.input,textarea{
    width: 80%;
    font-size:25px;
    margin: 11px;
    padding: 7px;
}